.about_me {
  position: relative;
  top: 150px;
}

.about_me .container {
  min-width: 100px;
  margin: 0 auto;
  position: relative;
}

.about_me .circle{
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 100px;
  background-color: rgba(135, 207, 235, 0.473);
  background: linear-gradient(to bottom right, rgba(106, 183, 214, 0.712), rgb(135, 235, 197));
  z-index: 1;
  float: left;
}

.about_me .c1{
  top: -60px;
  left: 5%;
}
.about_me .c4{
  top: 0px;
  left:12%;
}

.about_me .c2{
  bottom: -60px;
  right: 8%;
  border-radius: 10px;
  background: linear-gradient(to bottom right, rgba(106, 214, 133, 0.712), rgb(135, 198, 235));;
}

.about_me .c3{
  bottom: -100px;
  right: 5%;
  border-radius: 10px;
  background: radial-gradient(rgba(0, 174, 255, 0.623),rgba(0, 255, 221, 0.274));
}

.about_me .container .box {
  box-sizing: border-box;
  min-height: 600px;
  position: relative;
  width: 80%;
  background-color: rgba(245, 234, 234, 0.15);
  box-shadow: 2px 4px 10px rgba(139, 153, 170, 0.726),
    4px 4px 20px rgba(255, 255, 255, 0.4) inset;
  border-radius: 8px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-size: xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(0, 110, 117);
  word-spacing: 8px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 5;
}

.about_me .box .heading{
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
}

.about_me .box ul{
  list-style-type: circle;
  list-style-position: inside;
  text-align: left;
  font-size: large;
  color: #00694f;
}

.education_container{
  width: 90%;
  text-align: center;
  /* border: 2px solid greenyellow; */
  margin: auto;
  margin-top: 120px;
}

.education_container h2, h3, h4{
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #003a69;
  font-weight: bolder;
  display: inline;
}

.education_container h1{
  display: block;
  width: 100%;
  text-align: left;
  color: #003a69;
}

.coding_profile{
  margin: 10px;
  box-shadow: 4px 4px 40px white inset;
  background-color: rgba(255, 255, 255, 0.25);
  word-wrap: break-word;
  border-radius: 10px;
  padding: 10px;
  max-width: 400px;
  line-height: 1.5;
  transition: 0.25s;
}

.coding_profile img{
  width: 100%;
  border-radius: 10px;
  max-width: 350px;
  display: block;
  margin: auto;
}
.box a{
  text-decoration: none;
}

.coding_profile span{
  font-size: large;
  color: #1669a0;
  font-weight: bold;
}


.education_container .qualification{
  display: block;
  color: #00694f;
  font-family: cursive;
  text-align: left;
  font-size: larger;
  padding: 4px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background: radial-gradient(#087465, #1669a0);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* timeline-timeline-container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background: rgb(114, 114, 114);
  border: 4px solid rgb(0, 109, 128);
  top: 15px;
  border-radius: 50%;
  box-shadow: 2px 2px 20px white inset;
  z-index: 1;
}

/* Place the timeline-container to the left */
.left {
  left: 0;
}

/* Place the timeline-container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left timeline-container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right timeline-container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for timeline-containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.timeline-content {
  padding: 20px 30px;
  background-color: transparent;
  color: #5a3a09;
  font-weight: bold;
  box-shadow: 4px 4px 60px white inset;
  position: relative;
  border-radius: 6px;
  text-align: justify;
  list-style-type: none;
  line-height: 2;
  word-wrap: break-word;
  transition: 0.5s;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 700px) {

  .education_container{
    width: 100%;
  }

  .about_me .container .box{
    width: 92%;
  }

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width timeline-containers */
  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right timeline-containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.coding_profile:hover{
  background-color: #7cd5f0;
  transform: translateY(-2px);
}

.timeline-content:hover{
  background-color: #7cd5f0;
  box-shadow: 2px 2px 20px #003a69;
}