.home div.outer{
    box-sizing: border-box;
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}
.home{
    position: relative;
    top: 150px;
}
.home .container{
    box-sizing: border-box;
    min-width: 100px;
    margin: 0 auto;
    position: relative;
}

.home .container .box{
    min-height: 600px;
    box-sizing: border-box;
    position: relative;
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: rgba(245, 234, 234, 0.15);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    z-index: 5;
    /* color: white; */
    font-size: xx-large;
    font-family: sans-serif;
    box-shadow: 2px 4px 10px rgba(139, 153, 170, 0.726),
                4px 4px 20px rgba(255, 255, 255, 0.4) inset;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.home .circle{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    background-color: rgba(135, 207, 235, 0.473);
    background: linear-gradient(to bottom right, rgba(106, 183, 214, 0.712), rgb(135, 235, 197));
    z-index: 1;
    float: left;
}

.home .c1{
    top: -60px;
    left: 7%;
}
.home .c4{
    top: 0px;
    left:12%;
}

.home .c2{
    bottom: -60px;
    right: 8%;
    border-radius: 10px;
    background: linear-gradient(to bottom right, rgba(106, 214, 133, 0.712), rgb(135, 198, 235));;
}

.home .c3{
    bottom: -100px;
    right: 5%;
    border-radius: 10px;
    background: radial-gradient(rgba(0, 174, 255, 0.623),rgba(0, 255, 221, 0.274));
}

.home .box .image{
    height: 360px;
    width: 360px;
    object-fit: contain;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 20px;
    background: radial-gradient(rgba(255, 255, 255, 0.404), rgba(255, 255, 255, 0.226));
}

.home img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.home .box .text{
    box-sizing: border-box;
    font-size: xx-large;
    font-family: sans-serif;
    text-align: left;
    padding: 20px;
}

.home .text .my_name{
    color: rgb(15 72 105);
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bolder;
}

.home .btn{
    background: transparent;
    box-shadow: 4px 4px 20px 10px rgba(255, 255, 255, 0.65) inset;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    font-size: large;
    color: rgb(15, 72, 105);
    border: none;
    margin: 10px 4px;
    transition: 1s;
}

.home .btn:hover{
    background-color: #31ecd3;
    box-shadow: 2px 2px 10px rgba(240, 233, 233, 0.63),
    4px 4px 20px 10px rgba(255, 255, 255, 0.65) inset;
}

.home .btn_div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
