header{
    position: fixed;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    background: linear-gradient(to right, #2eccb7, #3498db); 
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: white;
}

.nav-list{
    position: relative;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li{
    text-align: center;
    font-weight: bolder;
    width: 100px;
    cursor: pointer;
}

.nav-list a{
    width: 100%;
    color: inherit;
    text-decoration: none;
    font-size: 15px;
    line-height: 50px;
}

nav #animation{
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.253);
    /* background-color: rgba(0, 255, 191, 0.25); */
    box-shadow: 4px 4px 10px 10px rgba(255, 255, 255, 0.329) inset;
    z-index: -1;
    transition: all 0.4s ease;
    border-radius: 8px;
}

nav .brand{
    text-decoration: none;
    color: white;
    font-size: 40px;
}

li:nth-child(1):hover~#animation{
    left: 0px;
}
li:nth-child(2):hover~#animation{
    left: 100px;
}
li:nth-child(3):hover~#animation{
    left: 200px;
}
li:nth-child(4):hover~#animation{
    left: 300px;
}

.start-home{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.start-About{
    position: absolute;
    bottom: 0px;
    left: 100px;
}
.start-Blog{
    position: absolute;
    bottom: 0px;
    left: 200px;
}
.start-Contact{
    position: absolute;
    bottom: 0px;
    left: 300px;
}

.toggle-btn{
    display: none;
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 10px;
    flex-direction: column;
    width: 30px;
    height: 25px;
    justify-content: space-around;
}

#toggle-checkbox{
    display: none;
}

#toggle-checkbox:checked~ul{
    display: inline-block;
}

.bar{
    height: 3px;
    width: 100%;
    border-radius: 1px;
    background-color: white;
}

.nav_active{
    color: rgb(2 90 105);
    border-radius: 8px;
    box-shadow: 2px 2px 20px 2px rgba(255, 255, 255, 0.5) inset;
}

.nav_inactive{
    color: white;
    border-radius: 0px;
    box-shadow: none;

}

@media screen and (max-width: 700px){
    nav{
        flex-direction: column;
        align-items: flex-start;
        background-color: #19457d;
    }
    .nav-list{
        flex-direction: column;
        width: 100%;
        text-align: center;
        display: none;
    }
    .nav-list li{
        width: 100%;
        display: block;
    }
    nav #animation{
        display: none;
    }
    .toggle-btn{
        display: flex;
    }
}